name: CI-CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3


    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}


    - name: Build image
      run: docker build -t ${{ secrets.DOCKER_USERNAME }}/sample-app:v1 .


    - name: Push image
      run: docker push ${{ secrets.DOCKER_USERNAME }}/sample-app:v1


    - name: Setup kubeconfig
      run : |
        echo "${{ secrets.KUBE_CONFIG_DATA }}" | base64 -d > kubeconfig
        mkdir -p $HOME/.kube
        mv kubeconfig $HOME/.kube/config


    - name: Deploy to cluster
      run: |
        kubectl set image deployment/myapp nginx=${{ secrets.DOCKER_USERNAME }}/sample-app:v1
